---
// TODO clipboard copy button
import { cn } from "@/lib/utils";
import type { Props as $ } from "astro-portabletext/types";
import type { CodeBlock } from "content-models";
import shiki, { getHighlighter } from "shiki";
import { TerminalIcon } from "lucide-react";

export type Props = $<CodeBlock>;
const { node } = Astro.props;

const THEME = "github-dark";
const preClasses = ["px-7 py-6", "rounded-lg", "overflow-x-auto"];

const highlighter = await getHighlighter({
  theme: THEME,
});

const tokens = highlighter.codeToThemedTokens(node.code, node.language);

const htmlString = shiki.renderToHtml(tokens, {
  fg: highlighter.getForegroundColor(THEME),
  bg: highlighter.getBackgroundColor(THEME),
  elements: {
    pre({ className, style, children }) {
      return `<pre class="${cn(
        className,
        preClasses
      )}" style="${style}">${children}</pre>`;
    },
    code({ className, style, children }) {
      return `<code>${children}</code>`;
    },
  },
});
---

<section class="not-prose my-8">
  {
    node.filename && (
      <header class="flex items-center mb-2 text-muted">
        <TerminalIcon className="h-4 w-4" />
        <span class="pl-2">{node.filename}</span>
      </header>
    )
  }
  <Fragment set:html={htmlString} />
</section>
