---
// TODO clipboard copy button
import { cn } from "@/lib/utils";
import type { Props as $ } from "astro-portabletext/types";
import type { CodeBlock } from "content-models";
import shiki, { getHighlighter } from "shiki";
import { TerminalIcon } from "lucide-react";
import groqGrammar from "src/shiki/groq.json";

export type Props = $<CodeBlock>;
const { node } = Astro.props;

// Other styles are set in global.css
const THEME = "github-dark";
const preClasses = ["px-5 py-6", "rounded-lg", "overflow-x-auto", "text-sm"];
const highlightClasses = ["bg-sky-500/[.2]"];

const highlighter = await getHighlighter({
  theme: THEME,
});

// GROQ Language support
const groqLanguage = {
  id: "groq",
  scopeName: "source.groq",
  grammar: groqGrammar,
  aliases: ["Groq", "GROQ"],
};

await highlighter.loadLanguage(groqLanguage);

// highlight lines
const lineOptions = node.highlightedLines?.map((line) => {
  return { line: line, classes: highlightClasses };
});

const tokens = highlighter.codeToThemedTokens(node.code, node.language);

const htmlString = shiki.renderToHtml(tokens, {
  fg: highlighter.getForegroundColor(THEME),
  bg: highlighter.getBackgroundColor(THEME),
  lineOptions: lineOptions,
  elements: {
    pre({ className, style, children }) {
      return `<pre class="${cn(
        className,
        preClasses
      )}" style="${style}" data-pagefind-ignore>${children}</pre>`;
    },
    code({ className, style, children }) {
      return `<code>${children}</code>`;
    },
  },
});
---

<section class="not-prose my-8">
  {
    node.filename && (
      <header class="flex items-center mb-2 text-muted">
        <TerminalIcon className="h-4 w-4" />
        <span class="pl-2">{node.filename}</span>
      </header>
    )
  }
  <Fragment set:html={htmlString} />
</section>
