---
import MetaTags from "@/components/MetaTags.astro";
import TagsList from "@/components/content/TagsList.astro";
import BacklinksList from "@/components/content/BacklinksList.astro";
import Layout from "@/layouts/Layout.astro";
import { titleTemplate } from "@/lib/metadata";
import { getAllResourcesFull } from "@/queries/resource";
import type { InferGetStaticPropsType } from "astro";
import type { Backlink } from "@/queries/partials/backlink";

export async function getStaticPaths() {
  const data = await getAllResourcesFull();
  const staticProps = data.map((resource) => {
    return {
      params: {
        slug: resource.slug.current,
      },
      props: {
        resource: resource,
      },
    };
  });

  return staticProps;
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { resource } = Astro.props as Props;

// Prevent 'Resource Content' from showing in backlinks section
// It will already show in the Resources content section
function deduplicateBacklinks(backlinks: Backlink[]) {
  return backlinks.filter((backlink) => backlink._type !== "resourceContent");
}

const renderedBacklinks = resource.backlinks
  ? deduplicateBacklinks(resource.backlinks)
  : [];
---

<Layout>
  <MetaTags
    title={titleTemplate(resource.title)}
    description={resource.description}
    slot="metadata"
  />
  <article class="prose-custom content-container">
    <h1>{resource.title}</h1>
    <p>{resource.url}</p>

    {resource.tags && <TagsList tags={resource.tags} asLinks={true} />}

    <!-- TODO render this as a nice list -->
    <!-- TODO "referenced in" query results to articles, concepts -->
    {
      resource.resourceContent &&
        resource.resourceContent.map((rc) => {
          return (
            <div>
              <h3>{rc.title}</h3>
              <p>{rc.description}</p>
            </div>
          );
        })
    }

    {
      renderedBacklinks && renderedBacklinks.length > 0 && (
        <>
          <h3>Backlinks</h3>
          <BacklinksList backlinks={renderedBacklinks} />
        </>
      )
    }
  </article>
</Layout>
