---
import {
  titleTemplate,
  hostname,
  getPublicAssetUrl,
  siteDescription,
} from "@/lib/metadata";

interface Props {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
}

const props = Astro.props;

// These are the default values used
// You can override them with your props
const data: Required<Props> = {
  title: titleTemplate(),
  description: siteDescription,
  url: hostname,
  image: getPublicAssetUrl("social-sharing-card.jpg"),
  ...props,
};
---

{/* Primary Meta Tags */}
<title>{data.title}</title>
<meta name="title" content={data.title} />
<meta name="description" content={data.description} />

{/* Open Graph / Facebook */}
<meta property="og:type" content="website" />
<meta property="og:url" content={data.url} />
<meta property="og:title" content={data.title} />
<meta property="og:description" content={data.description} />
<meta property="og:image" content={data.image} />

{/* Twitter */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={data.url} />
<meta property="twitter:title" content={data.title} />
<meta property="twitter:description" content={data.description} />
<meta property="twitter:image" content={data.image} />
